<!DOCTYPE html>
{% load static %}
{% load myfilters %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eshop</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand btn btn-primary" href="/">Eshop</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link btn btn-primary" href="/category/">Categories</a>
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link btn btn-primary" href="/profile/">Profile</a>
                    <a class="nav-item nav-link btn btn-primary" href="/logout/">Logout</a>
                {% else %}
                    <a class="nav-item nav-link btn btn-primary" href="/login/">Login</a>
                    <a class="nav-item nav-link btn btn-primary" href="/register/">Register</a>
                {% endif %}
                <a class="nav-item nav-link btn btn-primary" href="/cart-detail/">Cart ({{ request.session.cart|cart_total }})</a>
            </div>
        </div>
    </div>
</nav>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
</body>
</html>
