{% extends "base.html" %}
{% load static %}
{% load myfilters %}

{% block content %}
    <h2>Your Cart</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for product_id, details in request.session.cart.items %}
            <tr>
                <td>{{ details.name }}</td>
                <td>{{ details.quantity }}</td>
                <td>${{ details.price }}</td>
                <td>${{ details.quantity|multiply:details.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3">Grand Total</th>
                <td>${{ request.session.cart|cart_total }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
