{% extends 'base.html' %}
{% load static %}
{% load myfilters %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet">

{% block content %}
    <h2>Your Cart</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Actions</th>  <!-- Add a new column for actions -->
            </tr>
        </thead>
        <tbody>
        {% for item in cart_items %}
    <tr>
        <td>{{ item.product.name }}</td>
        <td>
            <input type="number" value="{{ item.quantity }}" min="1" id="quantity_{{ item.product.id }}">
            <button onclick="updateQuantity({{ item.product.id }})">Update</button>
        </td>
        <td>${{ item.product.price }}</td>
        <td>${{ item.total_price }}</td>
        <td>
            <button onclick="removeItem({{ item.product.id }})">X</button>
        </td>
    </tr>
{% endfor %}

        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">Grand Total</th>
                <td>${{ total_cart_value }}</td>
            </tr>
        </tfoot>
    </table>
<script>
function updateQuantity(productId) {
    const quantityInput = document.getElementById(`quantity_${productId}`);
    const newQuantity = quantityInput.value;

    fetch(`/update_quantity/${productId}/${newQuantity}/`, { method: 'POST' })
        .then(response => response.json())
        .then(data => {
            // Reload the page to update the cart contents
            location.reload();
        })
        .catch(error => console.error('Error:', error));
}

function removeItem(productId) {
    fetch(`/remove_item/${productId}/`, { method: 'POST' })
        .then(response => response.json())
        .then(data => {
            // Reload the page to update the cart contents
            location.reload();
        })
        .catch(error => console.error('Error:', error));
}
</script>

{% endblock %}
