{% extends 'base.html' %}
{% load static %}
{% load myfilters %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet">

{% block content %}
  <h1>Paieskos pagal "{{query}}" rezultatai:</h1>
  </br>
  {% if products %}
    <ul>
      {% for product in products %}
        <li>
          <a href="{% url 'product_detail' product_id=product.id %}">{{ product.name }}</a> ({{ product.category.name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Oops. Nieko neradome :(</p>
  {% endif %}
{% endblock %}
